<template>
    <section class="content vcheck">
        <div class="html">
            <h1>Orbit Version Check (vcheck)</h1>
            <p>
                The Version Check component is partly a demonstration of how to write an Orbit Framework Component, and also
                a reusable generic version checking service. Currently it's used to provide version checking to Orbit Communicator Users
                in real-time via a connected websocket. 
            </p>
            <p>
                Here we're tracking three different metrics; "sessions" are users currently connected to the service, "users" are users
                who have registered with the service and "versions" are the products for which we are providing version numbers, together
                with the current versions of those products.
            </p>
            <n-tabs default-value="sessions" type="card" tab-style="min-width: 80px" class="tabs">
                <n-tab-pane class="tabPane border" key="sessions" name="sessions" v-if="sessions_active">
                    <template #tab><span class="tab-name">Sessions (<span class="count">{{ session_ids.length }}</span>)</span></template>
                    <template #default>
                        <sessions :ids="session_ids" :data="session_data"/>
                    </template>
                </n-tab-pane>
                <n-tab-pane class="tabPane border" key="users" name="users" v-if="users_active">
                    <template #tab><span class="tab-name">Users (<span class="count">{{ user_ids.length }}</span>)</span></template>
                    <template #default>
                        <users :ids="user_ids" :data="user_data"/>
                    </template>
                </n-tab-pane>
                <n-tab-pane class="tabPane border" key="version" name="versions">
                    <template #tab><span class="tab-name">Versions (<span class="count">{{ version_ids.length }}</span>)</span></template>
                    <template #default>
                        <versions :ids="version_ids" :data="version_data" />
                    </template>
                </n-tab-pane>
            </n-tabs>
        </div>
    </section>
</template>

<script setup>
import { defineComponent, ref, watch, computed, inject, onMounted, reactive } from 'vue';
import { defineStore } from 'pinia';
import { NTabs, NTabPane } from 'naive-ui'
import { OrbitComponentMixin } from '@/../node_modules/orbit-component-base';
import { useVersionsStore } from './stores/versionsStore.js';
import Sessions from './views/Sessions.vue'
import Versions from './views/Versions.vue';
import Users from './views/Users.vue'
import pkg from '../package.json';

const plugin            = inject('$orbitPlugin')
const connection        = inject('$connection')
const socket            = ref({connected: false})
const versionsStore     = useVersionsStore()
const usersStore        = reactive({})
const sessionsStore     = reactive({})
const version_ids       = computed(() => versionsStore.ids(root.value))
const user_ids          = computed(() => usersStore.ids('base'))
const session_ids       = computed(() => sessionsStore.ids('base'))
const user_data         = computed(() => usersStore.data)
const session_data      = computed(() => sessionsStore.data)
const version_data      = computed(() => versionsStore.data)
const versions_active   = computed(() => versionsStore.active)
const users_active      = computed(() => usersStore.active)
const sessions_active   = computed(() => sessionsStore.active)
const authenticated     = computed(() => connection.authenticated)
const active            = computed(() => socket.value.connected)
const root              = computed(() => opt.router.currentRoute.value.meta.root)

onMounted(async () => {await plugin (opt, namespace, socket)})
watch (authenticated, (n, o) => {if (n && !o) {
        Object.assign(usersStore, defineStore('usersStore')())
        Object.assign(sessionsStore, defineStore('sessionsStore')())
    }}, {immediate: true})
watch (active,          (n, o) => {if (n && !o) versionsStore.init(app, root.value, socket.value)}, {immediate: true})
watch (versions_active, (n, o) => {if (n && !o) versionsStore.populate(root.value)}, {immediate: true})
watch (users_active,    (n, o) => {if (n && !o) usersStore.populate('base')}, {immediate: true})
watch (sessions_active, (n, o) => {if (n && !o) sessionsStore.populate('base')}, {immediate: true})
</script>

<script>
const namespace = 'vcheck'
const mixin = OrbitComponentMixin(namespace, defineStore)
const opt = ref(null)
const app = ref(null)
let timenow     = new Date()
let timenow60   = new Date()

export default defineComponent({
    name: namespace,
    install (vue, options) {
        mixin.install (vue, options, this, app, opt)
        setInterval(() => {timenow = new Date()}, 1000)
        setInterval(() => {timenow60 = new Date()}, 60000)
        app.provide('$timenow', timenow)
        app.provide('$timenow60', timenow60)
    },
    bootstrap () {
        return mixin.bootstrap (pkg.version)
    },
})
</script>

<style>


section.content.vcheck h1 {
    font-size: 1.8em;
    font-weight: 600;
    color: teal;
    font-family: "Amaranth", sans-serif;
}
section.content.vcheck p {
    margin-bottom: 0.8em;
    font-size: 1.15em;
    color: black;
    margin-right: 1em;
}

section.content.vcheck div.n-tabs-nav {
    --n-tab-border-color: #7cc5c5;
}
.vcheck span.tab-name {
    color: rgb(68, 99, 202);
}
section.content.vcheck span.tab-name span.count {
    font-weight: 600;
    color: rgb(192, 123, 20);
}
section.content.vcheck {
    flex: 1;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    border-top-left-radius: 10px;
    background-color: white;
    height: 1px;
}
section.content.vcheck div.html {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 1.1em;
}
section.content.vcheck section.page div.n-tabs {
    flex:1;
    height: 1px;
}
section.content.vcheck .tabs {
    padding-right: 8px;
    padding-bottom: 1.3em;
}
section.content.vcheck .tabPane {
    flex:1;
    overflow-y: auto;
    height: 1px;
}
section.content.vcheck .tabPane.border {
    border-left: 1px solid #7cc5c5;
    border-right: 1px solid #7cc5c5;
    border-bottom: 1px solid #7cc5c5;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 0;
}
</style>
