<template>
    <section class="tab-content">
        <div class="html">
            <p>
                This table shows details of the current sessions connected to this server. Somewhere in the listing <b>your</b> connection
                should be visible shown in <b>blue</b>. This ID is not significant other than being an anonymous unique identifier for your
                machine which can be regenerated at any time. Details include the client software in use and it's current version.
            </p>
            <grid-widget :ids='ids' :columns=8 class="sessions-widget">
                <template v-slot:header>
                    <div>Namespace</div>
                    <div>Host ID</div>
                    <div>Start Time</div>
                    <div>Session Timer</div>
                    <div>Vendor</div>
                    <div>Platform</div>
                    <div>Language</div>
                    <div>Version</div>
                </template>
                <template v-slot:row="props">
                    <div>{{ data.get(props.id).ns }}</div>
                    <div :class="isThisMe(data.get(props.id).host_id)">{{ data.get(props.id).host_id }}</div>
                    <div>{{ getWhen(data.get(props.id).when) }}</div>
                    <transition name="fade" mode="out-in">
                        <div :key="getSince(data.get(props.id).when)">
                            {{ getSince(data.get(props.id).when) }}
                        </div>
                    </transition>
                    <div>{{ data.get(props.id).vendor }}</div>
                    <div>{{ data.get(props.id).platform }}</div>
                    <div>{{ data.get(props.id).language }}</div>
                    <div>{{ data.get(props.id).version }}</div>
                </template>
            </grid-widget>
        </div>
    </section>
</template>

<script>
import GridWidget from '../widgets/GridWidget.vue'
import { defineComponent } from 'vue'
import { format } from 'date-fns'
import moment from 'moment'

export default defineComponent({
    inject: ['$timenow', '$connection'],
    components: {GridWidget},
    data () {
        return {
            connection: this.$connection
        }       
    },
    computed: {
        hostid () { return this.connection.hostid }
    },
    props: ['ids', 'data'],
    methods: {
        getWhen (when)      { return format(new Date(when * 1000), 'yyyy-MM-dd HH:mm:ss') },
        getSince (when)     { return moment(new Date((when) * 1000)).from(this.$timenow) },
        isThisMe (host_id)  { return this.connection.hostid == host_id ? 'is-me' : 'is-default' },
    },  
})
</script>

<style scoped>
.tab-content {
    padding: 1em;
    padding-left: 0;
}

.is-me {
    color: blue!important;
}

.fade-enter-active {
  transition: all 1s ease;
}
.fade-leave-active {
  transition: all 1s;
}
.fade-leave-to
{
    color: red!important;
}

</style>
