<template>
    <section class="tab-content">
        <div class="html">
            <p>
                This table shows details of the browsers that have previously accessed this server to recover a version number for their product.
                For applications that require authentication is shows the activation code and number of times a user has tries to use it. Your 
                registration is shown in <b>blue</b>.
            </p>
            <grid-widget :ids='ids' :columns=4 class="users-widget">
                <template v-slot:header>
                    <div>Host ID</div>
                    <div>Active</div>
                    <div>Code</div>
                    <div>Tries</div>
                </template>
                <template v-slot:row="props">
                    <div :class="isThisMe(data.get(props.id)._id)">{{ data.get(props.id)._id }}</div>
                    <div>{{ data.get(props.id).active }}</div>
                    <div>{{ data.get(props.id).code }}</div>
                    <div>{{ data.get(props.id).tries }}</div>
                </template>
            </grid-widget>
        </div>
    </section>        
</template>

<script>
import { defineComponent } from 'vue'
import { format } from 'date-fns'
import GridWidget from '../widgets/GridWidget.vue'

export default defineComponent({
    inject: ['$timenow', '$connection'],
    components: {GridWidget},
    data () {
        return {
            connection: this.$connection
        }       
    },
    computed: {
        hostid () { return this.connection.hostid }
    },
    props: ['ids', 'data'],
    methods: {
        getWhen (when)      { return format(new Date(when * 1000), 'yyyy-MM-dd HH:mm:ss') },
        isThisMe (host_id)  { return this.hostid == host_id ? 'is-me' : 'is-default' },
    },  
})
</script>

<style scoped>
.tab-content {
    padding: 1em;
    padding-left: 0;
}

.is-me {
    color: blue!important;
}

.fade-enter-active {
  transition: all 1s ease;
}
.fade-leave-active {
  transition: all 1s;
}
.fade-leave-to
{
    color: red!important;
}

</style>