<template>
    <section class="tab-content">
        <div class="html">
            <p>
                This table shows which packages we are keeping track of and the current version numbers of those packages. Eventually
                this will pull version numbers directly from the respective repositories / build systems but for now it is adjusted
                manually by an admin.
            </p>
            <grid-widget :ids='ids' :columns=4 class="versions-widget">
                <template v-slot:header>
                    <div>Key</div>
                    <div>Product Name</div>
                    <div>Version</div>
                    <div>Updated</div>
                </template>
                <template v-slot:row="props">
                    <div>{{ data.get(props.id)._id }}</div>
                    <div>{{ data.get(props.id).product }}</div>
                    <div>{{ getWhen(data.get(props.id).when) }}</div>
                    <div>{{ data.get(props.id).version }}</div>
                </template>
            </grid-widget>
        </div>
    </section>
</template>

<script>
import { defineComponent } from 'vue'
import { format } from 'date-fns'
import GridWidget from '../widgets/GridWidget.vue'

export default defineComponent({
    components: {GridWidget},
    props: ['ids', 'data'],
    methods: {
        getWhen (when)      { return format(new Date(when * 1000), 'yyyy-MM-dd HH:mm:ss') },
    },  
})
</script>

<style scoped>
.tab-content {
    padding: 1em;
    padding-left: 0;
}

.is-me {
    color: blue!important;
}

.fade-enter-active {
  transition: all 1s ease;
}
.fade-leave-active {
  transition: all 1s;
}
.fade-leave-to
{
    color: red!important;
}

</style>