<template>
    <div class="orbit-grid-widget">
        <div class="hr test-list-item" key='heading'>
            <slot name="header"></slot>
        </div>
        <transition-group name="test-list" v-if="ids.length">
            <div v-for="(row_id,index) in ids" :key="row_id" @click="onClick(row_id)" :class="widgetRowClass(index)">
                <slot name="row" :id=row_id :index="index"></slot>
            </div>
        </transition-group>
        <div v-else>
            <slot name="empty"></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'GridWidget',
    props: {
        ids: Array,
        columns: Number
    },
    methods: {
        onClick (id) {
            this.$emit('click')
        },
        widgetRowClass (index) {
            return 'tr test-list-item ' + (index%2 ? 'odd' : 'even') + (index == this.ids.length - 1 ? ' last':'')
        },
    }
}
</script>

<style>
.orbit-grid-widget .test-list-enter, .orbit-grid-widget .test-list-leave-to {
    max-height: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    overflow: hidden;
}
.orbit-grid-widget .test-list-leave, .test-list-enter-to { max-height: 2.2em; }
.orbit-grid-widget .test-list-move     { transition: all 1s; }
.orbit-grid-widget .test-list-item     { transition: all 0.3s; }
.orbit-grid-widget .table-container {
    height: 100%;
}
.orbit-grid-widget {
    grid-template-columns: repeat(v-bind('columns'), auto);
    display: grid;
    overflow-y: auto;
    max-height: 100%;
}
.orbit-grid-widget .hr { display: contents; }
.orbit-grid-widget .tr { display: contents; }

.orbit-grid-widget .hr div {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 600;
    color: #666;
    background-color: #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: sticky;
    top:0;
    z-index:1;
}
.orbit-grid-widget .tr div {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1px;
    padding-bottom: 1px;
    font-weight: 500;
    color: #0099cc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.orbit-grid-widget .hr div { border-top: 1px solid #ccc; }
.orbit-grid-widget .hr div:first-child { border-left: 1px solid #ccc; border-top-left-radius: 6px;}
.orbit-grid-widget .hr div:last-child { border-top-right-radius: 6px; }
.orbit-grid-widget .tr div:first-child { border-left: 1px solid #ccc;}

.orbit-grid-widget div.tr.test-list-item.odd div { background-color: #eee; }
</style>
